.manage-user-container {
  .user-content {
  }
}
.modalAddUser {
  .img-preview {
    height: 250px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .label-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid red;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eeeeee;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
