.register-container {
  display: flex;

  .register-container-left {
    width: 55%;
    height: 100vh;
    position: relative;
    .videoInsert {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      overflow: hidden;
    }
  }
  .register-container-right {
    width: 45%;
    height: 100vh;
    position: relative;
    .register-header {
      display: flex;
      justify-content: right;
      padding: 15px;
      span {
        font-size: 20px;
        margin-right: 10px;
      }
      button {
        margin-right: 20px;
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px 10px;
        height: 35px;
        width: 80px;
        font-weight: 500;
      }
      button:hover {
        opacity: 0.7;
      }
    }
    .register-main {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      width: 100%;
      .register-title {
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
      }
      .register-text {
        font-size: 27px;
        text-align: center;
        margin-bottom: 20px;
      }
      .register-mainform {
        width: 80%;
        // margin-left: 200px;
        margin-left: 90px;
        .register-label {
          font-size: 23px;
        }
        .register-input {
          font-size: 17px;
          height: 65px;
        }
        button {
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
          padding: 5px 10px;
          height: 55px;
          background-color: black;
          color: white;
          border: 1px solid #bdbdbd;
          font-size: 20px;
        }
      }
      .register-line {
        height: 1px;
        background-color: #bdbdbd;
        margin-top: 20px;
        width: 90%;
        margin-left: 50px;
        span {
          background-color: white;
          font-size: 20px;
          position: relative;
          top: -0.8em;
          left: 50%;
          padding: 0px 5px;
        }
      }
      .register-footer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        button {
          width: 80%;
          margin-top: 30px;
          border-radius: 5px;
          padding: 5px 10px;
          height: 50px;
          background-color: white;
          color: black;
          border: 1px solid #bdbdbd;
          font-size: 18px;
          margin-left: 90px;
        }
      }
    }
  }
}
